{% extends "base.html" %}
{% block content %}
<div class="row">
  <form method="post">
    {% csrf_token %}
    <a class="btn btn-secondary" href="{% url 'wallpaper-list' %}" role="button">Go Back</a>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
<div class="row">
  <figure class="figure">
    <img src="{{ wallpaper.image.url }}" class="figure-img img-fluid" alt="Responsive image">
    <figcaption class="lead figure-caption">{{ wallpaper.name }}</figcaption>
  </figure>  
</div>
{% endblock %}
