{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group m-2" role="group">
	<a href="{% url 'campaign-create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">New</a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
	<thead>
	  <tr>
	    <th scope="col">Action</th>
	    <th scope="col">Name</th>
	  </tr>
	</thead>
	<tbody>
	  {% for campaign in campaign_list %}
	  <tr>
	    <td>
	      <div class="dropdown">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Action
		</button>
		<div class="dropdown-menu" aria-labelledby="dLabel">
		  <a class="dropdown-item" href="{% url 'campaign-update' pk=campaign.pk %}">Edit</a>
		  <a class="dropdown-item" href="{% url 'campaign-delete' pk=campaign.pk %}">Delete</a>
		</div>
	      </div>
	    </td>
	    <td>{{ campaign.name }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
